.footer {
    &__body {
        display: grid;
        border-top: 1px solid #D8D8D8;
        grid-template-columns: 250px 1fr 290px;
        @include adaptiv-value("padding-top", 80, 30, 1);
        @include adaptiv-value("padding-bottom", 60, 30, 1);
        @include adaptiv-value("column-gap", 80, 0, 1);

        @media (max-width:1270px) {
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 290px;
        }
        @media (max-width:992px) {
            display: block;
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width:1270px) {
            grid-column: span 2;
            @include adaptiv-value("margin-bottom", 40, 30, 1);
        }
    }
    &__logo {
        margin: 0px 0px 10px 0px;
        text-decoration: none;
    }
    &__text {
        color: $grey-color;
        line-height: 150%;
        &:not(:last-child) {
            margin: 0px 0px 1em 0px;
        }
    }
    &__menu {
        @media (max-width:992px) {
            @include adaptiv-value("margin-bottom", 40, 30, 1);
        }
    }
}

.contacts-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
        display: inline-flex;
        align-items: center;
        color: $grey-color;
        line-height: 150%;
        transition: all 0.3s ease 0s;
        text-decoration: none;
        &:before {
            margin: 0 8px 0 0;
        }
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 16, 10, 1);
        }
        @media (any-hover: hover) {
            &:hover {   
                color: $orange-color;
            }
        }
    }
}

.menu-footer {
    @media (min-width: 769px) {
        display: flex;
    }
    &__column {
        @media (min-width: 769px) {
            flex: 0 1 33.333%;
        }
        @media (max-width:768px) {
            @include adaptiv-value("margin-bottom", 30, 15, 1);
        }
    }
    &__title {
        cursor:default;
        @media (min-width: 769px) {
            margin: 0 0 10px 0;
        }
        ._init & {
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            @extend ._icon-arrow-down;
            &:before {
                content:'\e902';
                font-size: 14px;
                font-family: 'icons';
                transition: all 0.3s ease 0s;
            }
        }
        &._active {
            &:before {
                transform: rotate(-180deg);
            }
        }
    }
    &__list {
        list-style: none;
        @media (max-width:768px) {
            padding: 15px 0 0 0;
        }
        li {
            &:not(:last-child) {
                margin: 0 0 15px 0;
            }
        }
    }
    &__link {
        color:$darkGrey-color;
        transition: all 0.3s ease 0s;
        line-height: 120%;
        font-weight: 500;
        text-decoration: none;
        @media (any-hover: hover) {
            &:hover {   
                color: $orange-color;
            }
        }
    }
}

.subscribe {
    &__title {
        margin: 0 0 10px 0;
    }
    &__form {
        display: flex;
        position: relative;
    }
    &__button {
        flex: 0 0 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: $orange-color;
        color: #fff;
        border:none;
        margin: 0 0 0 4px;
        cursor: pointer;
        @media (any-hover: hover) {
            &:hover {   
                background-color: #bd7142;
            }
        }
    }
    &__input {
        width: 100%;
        padding: 0 12px;
        background-color: #F4F5F7;
        border:none;
        outline: none;
        color:#828282;
    }
}

